.TableWrapper {
  margin: 24px 0;
  height: 500px;
  overflow-y: auto;
}

.Table {
  width: 100%;
  
  th {
    position: sticky;
    top: 0;
    height: 46px;
    background-color: #fafafa;
    border-bottom: 1px solid #f2f2f5;
    z-index: 1;
  }
}